@model IEnumerable<UsedGameBrowser.Models.Platform>

<h2>Used Game Browser</h2>
<hr />
<ul>
    @foreach (var platform in Model)
    {
        <li>@Html.DisplayFor(modelItem => platform.Name) | @Html.ActionLink("Games", "PlatformGames", new { id = platform.Id })</li>
    }
</ul>