@{
    ViewData["Title"] = "Used Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Used Game Browser</h1>

<p>@Html.ActionLink("Games", "Index", "Games")</p>
<p>@Html.ActionLink("User Accounts", "Index", "Account")</p>
