@{
    ViewData["Title"] = "Used Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model UsedGameBrowser.Models.Game

<h2>@Html.DisplayFor(model => model.Title)</h2>
<h3>Average Price: $@Html.DisplayFor(model => model.AveragePrice)</h3>
<h3>Platform: @Html.DisplayFor(model => model.PlatformId)</h3>
<hr />
<p>@Html.DisplayFor(model => model.Description)</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
